

# excluding whole directories to avoid uploading unnecessary files to the online repository
arduinostuff/*
uebungsblaetter/*
vhdlstuff/*
presentation/*
resources/*

# exceptions: resources
!resources/kuea16__k_urbanski_et_al__digitaltechnik.pdf

# exceptions: presentation
!uebungsblaetter/blatt1__loetpraxis.tex
!uebungsblaetter/blatt2__bool.tex
!uebungsblaetter/blatt3__vhdl.tex
!uebungsblaetter/blatt4__arduino.tex
!uebungsblaetter/blatt1__loetpraxis.pdf
!uebungsblaetter/blatt2__bool.pdf
!uebungsblaetter/blatt3__vhdl.pdf
!uebungsblaetter/blatt4__arduino.pdf
!uebungsblaetter/preamble.tex
!uebungsblaetter/images/

# exceptions: presentation
!presentation/beamerthemedaniels.sty
!presentation/eidmde_slides.pdf
!presentation/eidmde_slides.tex
!presentation/images

# exceptions: 'erste_schritte_in_vhdl__vorlage'
!vhdlstuff/erste_schritte_in_vhdl__vorlage/ise/erste_schritte_in_vhdl.xise
!vhdlstuff/erste_schritte_in_vhdl__vorlage/ise/erste_schritte_in_vhdl.gise
!vhdlstuff/erste_schritte_in_vhdl__vorlage/ise/toplevel_summary.html
!vhdlstuff/erste_schritte_in_vhdl__vorlage/ise/_xmsgs
!vhdlstuff/erste_schritte_in_vhdl__vorlage/ise/iseconfig
!vhdlstuff/erste_schritte_in_vhdl__vorlage/rtl/and_gate.vhd
!vhdlstuff/erste_schritte_in_vhdl__vorlage/rtl/schaltung_a.vhd
!vhdlstuff/erste_schritte_in_vhdl__vorlage/rtl/schaltung_b.vhd
!vhdlstuff/erste_schritte_in_vhdl__vorlage/rtl/signal_mapping.ucf
!vhdlstuff/erste_schritte_in_vhdl__vorlage/rtl/toplevel.vhd
!vhdlstuff/erste_schritte_in_vhdl__vorlage/tb/testbench_gates.vhd
!vhdlstuff/erste_schritte_in_vhdl__vorlage/tb/testbench_schaltung.vhd

# exceptions: 'erste_schritte_in_vhdl__loesung'
!vhdlstuff/erste_schritte_in_vhdl__loesung/ise/erste_schritte_in_vhdl.xise
!vhdlstuff/erste_schritte_in_vhdl__loesung/ise/erste_schritte_in_vhdl.gise
!vhdlstuff/erste_schritte_in_vhdl__loesung/ise/toplevel_summary.html
!vhdlstuff/erste_schritte_in_vhdl__loesung/ise/_xmsgs
!vhdlstuff/erste_schritte_in_vhdl__loesung/ise/iseconfig
!vhdlstuff/erste_schritte_in_vhdl__loesung/rtl/and_gate.vhd
!vhdlstuff/erste_schritte_in_vhdl__loesung/rtl/nand_gate.vhd
!vhdlstuff/erste_schritte_in_vhdl__loesung/rtl/not_gate.vhd
!vhdlstuff/erste_schritte_in_vhdl__loesung/rtl/or_gate.vhd
!vhdlstuff/erste_schritte_in_vhdl__loesung/rtl/schaltung_a.vhd
!vhdlstuff/erste_schritte_in_vhdl__loesung/rtl/schaltung_b.vhd
!vhdlstuff/erste_schritte_in_vhdl__loesung/rtl/signal_mapping.ucf
!vhdlstuff/erste_schritte_in_vhdl__loesung/rtl/toplevel.vhd
!vhdlstuff/erste_schritte_in_vhdl__loesung/rtl/xor_gate.vhd
!vhdlstuff/erste_schritte_in_vhdl__loesung/tb/testbench_gates.vhd
!vhdlstuff/erste_schritte_in_vhdl__loesung/tb/testbench_schaltung.vhd

# exceptions: 'die_stoppuhr__vorlage'
!vhdlstuff/die_stoppuhr__vorlage/rtl/bcd_counter.vhd
!vhdlstuff/die_stoppuhr__vorlage/rtl/clock_scaler.vhd
!vhdlstuff/die_stoppuhr__vorlage/rtl/constraints.ucf
!vhdlstuff/die_stoppuhr__vorlage/rtl/debouncing.vhd
!vhdlstuff/die_stoppuhr__vorlage/rtl/display_controller.vhd
!vhdlstuff/die_stoppuhr__vorlage/rtl/seven_seg_encoder.vhd
!vhdlstuff/die_stoppuhr__vorlage/rtl/toplevel.vhd
!vhdlstuff/die_stoppuhr__vorlage/tb/tb_bcd_counter.vhd
!vhdlstuff/die_stoppuhr__vorlage/tb/tb_clock_scaler.vhd
!vhdlstuff/die_stoppuhr__vorlage/tb/tb_debouncing.vhd
!vhdlstuff/die_stoppuhr__vorlage/tb/tb_display_controller.vhd
!vhdlstuff/die_stoppuhr__vorlage/tb/tb_seven_seg_encoder.vhd

# exceptions: 'die_stoppuhr__loesung'
!vhdlstuff/die_stoppuhr__loesung/rtl/bcd_counter.vhd
!vhdlstuff/die_stoppuhr__loesung/rtl/clock_scaler.vhd
!vhdlstuff/die_stoppuhr__loesung/rtl/constraints.ucf
!vhdlstuff/die_stoppuhr__loesung/rtl/debouncing.vhd
!vhdlstuff/die_stoppuhr__loesung/rtl/display_controller.vhd
!vhdlstuff/die_stoppuhr__loesung/rtl/seven_seg_encoder.vhd
!vhdlstuff/die_stoppuhr__loesung/rtl/toplevel.vhd
!vhdlstuff/die_stoppuhr__loesung/tb/tb_bcd_counter.vhd
!vhdlstuff/die_stoppuhr__loesung/tb/tb_clock_scaler.vhd
!vhdlstuff/die_stoppuhr__loesung/tb/tb_debouncing.vhd
!vhdlstuff/die_stoppuhr__loesung/tb/tb_display_controller.vhd
!vhdlstuff/die_stoppuhr__loesung/tb/tb_seven_seg_encoder.vhd
